body {
    background-color: #FFC300;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  color: white;
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
}

.wrapper {
    margin-top: 5px;
    left: 20px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:hover, input[type=text]:focus {
    width: 100%;
}

.fa {
    z-index: 1;
    left: 25px;
    top: 10px;
    position: absolute;
    color: #808080;
}
.list-group {
    margin-top: -10em;   
}
.list {
    border: 1px solid #ccc;
    height: 7em;
    padding-top: 15px;
    border-radius: 7px;
    background: #F1F1F0;
    margin-top: 1em;
}

.list:hover {
    border-left: 5px solid #ce1302;
}